html, body {
    text-align: center;
    margin:0 auto;
    height: 100%;
}

header {
    height: 15%;
    width: 100%;
}

section {
    height: 85%;
    width: 708px;
}

.header {
    margin-top: 3%;
}